<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Organizer</title>
</head>
<body>
  <h1>Add an artist here!</h1>
  <form action="/artists" method="POST">
    
    <label for="artist">Artist/Band Name:</label>
    <input type="text" id="artist" name="artist">

    <label for="song">Song:</label>
    <input type="text" id="song" name="song">

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">
    <button type="submit">Give it to me baby!</button>
  </form>
</body>
</html>